<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templet</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h5 class="text-left">كود السمتخدم : 1003 </h5>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                <h5>بيان بالمواد الدراسية المسجلة</h5>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                <h5>المعهد العالي للعلوم الإدارية ببني سويف</h5>
                <h5>مكتب متابعة الطلاب</h5>
                <h5>الارشاد الاكاديمي</h5>
            </div>
            <hr width="1" size="500">

            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                <h5>العام الدراسي 2020/2021</h5>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                <h5>الفصل الدراسي الأول</h5>
            </div>
            
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                <h5>رقم الكود : 2019111119</h5>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                <h5>اسم الطالب : على رفاعى عبد اللطيف</h5>
            </div>
            
            <div class="col-md-4">
                <h5>المعدل التراكمي : 2.33</h5>
            </div>
            <div class="col-md-4">
                <h5>الشعبة : عام</h5>
            </div>
            <div class="col-md-4">
                <h5>المستوى : الثاني</h5>
            </div>
            
            
        </div>
            <table class="table table-bordered text-center">
                <thead class="text-center">
                    <th class="text-center">كود المقرر</th>
                    <th class="text-center">المستوى</th>
                    <th colspan="2" class="text-center">اسم المقرر</th>
                    <th class="text-center">عدد الساعات</th>
                </thead>
                <tbody>
                    
                    <tr>
                        <td>اد203</td>
                        <td>الثاني</td>
                        <td colspan="2">ادارة عمليات الإنتاج</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>اد203</td>
                        <td>الثاني</td>
                        <td colspan="2">ادارة عمليات الإنتاج</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>اد203</td>
                        <td>الثاني</td>
                        <td colspan="2">ادارة عمليات الإنتاج</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>اد203</td>
                        <td>الثاني</td>
                        <td colspan="2">ادارة عمليات الإنتاج</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>اد203</td>
                        <td>الثاني</td>
                        <td colspan="2">ادارة عمليات الإنتاج</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>اد203</td>
                        <td>الثاني</td>
                        <td colspan="2">ادارة عمليات الإنتاج</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>اد203</td>
                        <td>الثاني</td>
                        <td colspan="2">ادارة عمليات الإنتاج</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>اد203</td>
                        <td>الثاني</td>
                        <td colspan="2">ادارة عمليات الإنتاج</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>اد203</td>
                        <td>الثاني</td>
                        <td colspan="2">ادارة عمليات الإنتاج</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            عدد الساعات لمواد التخلفات
                            <br>
                            اجمالي عدد الساعات المسجلة
                        </td>
                        <td>
                            -18
                            <br>
                            18
                        </td>
                        <td>
                            عدد الساعات للمواد الجديدة
                            <br>
                            اجمالي عدد المقررات المسجلة
                        </td>
                        <td>
                            18 
                            <br>
                            6
                        </td>
                    </tr>
                </tbody>
            </table>

            <footer>
                <h3 class="text-center">اقرار بالعلم</h3>
                <h4>اقر انا الطالب / على رفاعي عبد اللطيف</h4>
                <h4>بانني قد ابلغت بالمقرراب الموضحة اعلاه وبهذا اكون ملزما بالحضور طبقا للجداول المعلنة وفي التوقيتات المحددة بها </h4>
                <h4>ويعتبر المقرر مادة رسوب في حالة عدم الالتزام بالحضور</h4>
                
                <h3 class="text-center">وهذا اقرار بالعلم</h3>
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                    <h4>المرشد الاكاديمي</h4>
                    <h4>الاسم : </h4>
                    <h4>التوقيع :</h4>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                    <h4>المقر بما فيه</h4>
                    <h4>الاسم : </h4>
                    <h4>التوقيع :</h4>
                </div>
                <h5 class="text-center" style="margin: 10px;">مرشد</h5>
            </footer>
            
    </div>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.min.js"></script>
</body>
</html>